<div class="d-flex" id="wrapper">

	<!-- Sidebar -->
	<div class="bg-light border-right" id="sidebar-wrapper">
		<div class="sidebar-heading text-center bg-white"><img src="assets/images/logo.jpg" width="150"> </div>
		<div class="list-group list-group-flush" style="height:calc(100vh - 71px); overflow-y:auto;">

			<div id="accordion">
				<div class="card border-0">
					<div>
						<a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false"
							aria-controls="collapseExample" class="list-group-item nav-heading collapsed">
							Group Heading
							<i class="arrow-icon"></i>
						</a>
					</div>

					<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
						<div class="card-body p-0">
							<a href="#" class="list-group-item list-group-item-action bg-light">Delete Articles</a>
							<a href="#" class="list-group-item list-group-item-action bg-light">Get Data</a>
						</div>
					</div>
				</div>

			</div>

			<div id="accordion">
				<div class="card border-0">
					<div>
						<a data-toggle="collapse" href="#collapseOne2" role="button" aria-expanded="false"
							aria-controls="collapseExample" class="list-group-item nav-heading collapsed">
							Group Heading
							<i class="arrow-icon"></i>
						</a>
					</div>

					<div id="collapseOne2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
						<div class="card-body p-0">
							<a href="#" class="list-group-item list-group-item-action bg-light">Delete Articles</a>
							<a href="#" class="list-group-item list-group-item-action bg-light">Get Data</a>
						</div>
					</div>
				</div>

			</div>


		</div>
	</div>
	<!-- /#sidebar-wrapper -->

	<!-- Page Content -->
	<div id="page-content-wrapper">

		<nav class="navbar navbar-expand-lg navbar-dark bg-light border-bottom">
			<button class="btn btn-primary border-0" id="menu-toggle"
				style="background-image:linear-gradient(125deg,#a72879,#064497);">
				<span class="navbar-toggler-icon"></span>
			</button>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav>

		<div class="container-fluid page-content">
			<!-- delete article form 1 -->
			<section class="admin-form">
				<h1 class="title">Delete Articles</h1>
				<form class="contact-form row">
					<div class="form-field col-lg-12">
						<label class="label" for="name">Date</label>
						<input class="input-text js-input" [(ngModel)]="selectedDate" name="date" type="date"
							max="{{yesterday | date:'yyyy-MM-dd'}}" required>
					</div>
					<div class="form-field col-lg-12 ">
						<label class="label" for="company">Publication</label>

						<input [(ngModel)]="pubTitleKeyUp" (ngModelChange)="keyUpPublication(pubTitleKeyUp)" name="pub"
							class="input-text js-input" type="text" required>


						<div class="search-result" *ngIf="publications">
							<ul>
								<li *ngFor="let pub of publications">
									<a (click)="onClickPublication(pub)"> {{ pub.Title }} - {{ pub.city }} </a>
								</li>
							</ul>
						</div>

					</div>
					<div class="form-field col-lg-12">
						<label class="label" for="message">Headline</label>
						<input [(ngModel)]="articleTitleKeyUp" (ngModelChange)="keyUpArticle(articleTitleKeyUp)" name="article"
							class="input-text js-input" type="text" required>


						<div class="search-result" *ngIf="articles">
							<ul>
								<li *ngFor="let article of articles">
									<a (click)="onClickArticle(article)">{{article.Title}}</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="form-field col-lg-12">
						<input class="submit-btn" type="button" (click)="onSubmit()" value="Submit">
					</div>
				</form>
			</section>
			<!-- delete article form 1 end -->


			<!-- delete article form 2 -->
			<section class="admin-form" *ngIf="articleDetails">
				<form class="contact-form row">
					<div class="form-field col-lg-6">
						<label class="label" for="name">Article ID</label>
						<label class="label infolabel" for="name"> {{ articleDetails.articleid }} </label>
					</div>
					<div class="form-field col-lg-6 ">
						<label class="label" for="company">Title</label>
						<label class="label infolabel" for="company"> {{ articleDetails.Title }} </label>
					</div>
					<div class="form-field col-lg-6">
						<label class="label" for="message">Publication, Edition</label>
						<label class="label infolabel" for="message"> {{ articleDetails.publication }} - {{
							articleDetails.Edition }} </label>
					</div>
					<div class="form-field col-lg-6">
						<label class="label" for="name">Keywords</label>
						<div style="border: solid 1px #9a9a9a; padding: 5px; height:80px; overflow-y:scroll; color:#000;">
							<span class="infolabel">
								{{ articleDetails.keyword }}
							</span>
						</div>
					</div>
					<div class="form-field col-lg-6 ">
						<label class="label" for="company">Date</label>
						<label class="label infolabel" for="company"> {{ articleDetails.pubdate | date:'dd-MM-YYYY' }} </label>
					</div>
					<div class="form-field col-lg-6">
						<label class="label" for="message">AVE</label>
						<label class="label infolabel" for="message"> {{ articleDetails.ave }} </label>
					</div>
					<div class="form-field col-lg-6">
						<label class="label" for="message">User</label>
						<label class="label infolabel" for="message"> {{ articleDetails.userid }} </label>
					</div>
					<div class="form-field col-lg-12">
						<input class="submit-btn" type="button" value="Delete" data-toggle="modal" data-target="#popup1">
					</div>
				</form>
			</section>
			<!-- delete article form 2 end -->


			<!-- delete article 1st popup -->
			<div class="modal fade" id="popup1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header border-0 p-3">

							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body" style="font-size:15px;">
							Do you want to delete the article?
						</div>
						<div class="modal-footer border-0 contact-form">
							<button type="button" class="modalbtn2" data-dismiss="modal">No</button>
							<button type="button" class="modalbtn1" value="Delete" data-dismiss="modal" data-toggle="modal"
								data-target="#popup2">Yes</button>
						</div>
					</div>
				</div>
			</div>
			<!-- delete article 1st popup end -->
			<!-- delete article 2nd popup -->
			<div class="modal fade" id="popup2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header border-0 p-3">

							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="contact-form input-group">
								<label class="label">Reason</label>
								<input class="input-text js-input" type="text">
							</div>
						</div>
						<div class="modal-footer border-0">
							<button type="button" class="modalbtn2" data-dismiss="modal">Cancel</button>
							<button type="button" class="modalbtn1">Delete</button>
						</div>
					</div>
				</div>
			</div>
			<!-- delete article 2nd popup end -->
		</div>
	</div>
	<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->