<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading text-center bg-white"><img src="assets/images/logo.jpg" width="150"> </div>
    <div class="list-group list-group-flush" style="height:calc(100vh - 71px); overflow-y:auto;">

      <div id="accordion">
        <div class="card border-0">
          <div>
            <a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false"
              aria-controls="collapseExample" class="list-group-item nav-heading collapsed">
              Group Heading
              <i class="arrow-icon"></i>
            </a>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body p-0">
              <a href="#" class="list-group-item list-group-item-action bg-light">Delete Articles</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">Get Data</a>
            </div>
          </div>
        </div>

      </div>

      <div id="accordion">
        <div class="card border-0">
          <div>
            <a data-toggle="collapse" href="#collapseOne2" role="button" aria-expanded="false"
              aria-controls="collapseExample" class="list-group-item nav-heading collapsed">
              Group Heading
              <i class="arrow-icon"></i>
            </a>
          </div>

          <div id="collapseOne2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body p-0">
              <a href="#" class="list-group-item list-group-item-action bg-light">Delete Articles</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">Get Data</a>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-dark bg-light border-bottom">
      <button class="btn btn-primary border-0" id="menu-toggle"
        style="background-image:linear-gradient(125deg,#a72879,#064497);">
        <span class="navbar-toggler-icon"></span>
      </button>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <div class="container-fluid page-content">

      <router-outlet></router-outlet>


    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->