<!-- delete article form 2 -->
<section class="admin-form" *ngIf="articleDetails">
  <form class="contact-form row">
    <div class="form-field col-lg-6">
      <label class="label" for="name">Article ID</label>
      <label class="label infolabel" for="name"> {{ articleDetails.articleid }} </label>
    </div>
    <div class="form-field col-lg-6 ">
      <label class="label" for="company">Title</label>
      <label class="label infolabel" for="company"> {{ articleDetails.Title }} </label>
    </div>
    <div class="form-field col-lg-6">
      <label class="label" for="message">Publication, Edition</label>
      <label class="label infolabel" for="message"> {{ articleDetails.publication }} - {{
							articleDetails.Edition }} </label>
    </div>
    <div class="form-field col-lg-6">
      <label class="label" for="name">Keywords</label>
      <div style="border: solid 1px #9a9a9a; padding: 5px; height:80px; overflow-y:scroll; color:#000;">
        <span class="infolabel">
          {{ articleDetails.keyword }}
        </span>
      </div>
    </div>
    <div class="form-field col-lg-6 ">
      <label class="label" for="company">Date</label>
      <label class="label infolabel" for="company"> {{ articleDetails.pubdate | date:'dd-MM-YYYY' }} </label>
    </div>
    <div class="form-field col-lg-6">
      <label class="label" for="message">AVE</label>
      <label class="label infolabel" for="message"> {{ articleDetails.ave }} </label>
    </div>
    <div class="form-field col-lg-6">
      <label class="label" for="message">User</label>
      <label class="label infolabel" for="message"> {{ articleDetails.userid }} </label>
    </div>
    <div class="form-field col-lg-12">
      <button class="submit-btn" type="button" value="Delete" (click)="openModal()">DELETE</button>
    </div>
  </form>

  <!-- delete article 2nd popup -->
  <div class="modal fade"  [ngClass]="{'d-block show': showModal}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header border-0 p-3">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="contact-form input-group">
            <label class="label">Reason</label>
            <input class="input-text js-input" type="text">
          </div>
        </div>
        <div class="modal-footer border-0">
          <button type="button" class="modalbtn2" data-dismiss="modal" (click)="closeModal()">Cancel</button>
          <button type="button" class="modalbtn1" (click)="deleteArticle(articleDetails.articleid)">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <!-- delete article 2nd popup end -->
</section>
<!-- delete article form 2 end -->